.admin {
  margin: auto;
  width: 80%;
  height: 50%;
  background-image: url("../assets/parchment.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.admin-icon-btn {
  position: fixed;
  right: 5px;
}

.admin-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
