@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "DragonHunter";
  src: url("/fonts/DragonHunter-font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}
